# pin to 4.48.2 since this version doesn't have the issue of adding multiple
# lines in jupyter
numpy~=1.23.1
scipy~=1.8.1
scikit-learn~=1.1.2
pandas~=1.4.2
matplotlib~=3.5.2
torch~=1.12.1
torchvision
zensols.install~=0.0.9
zensols.util~=1.11.0
